[Desktop Entry]
Encoding=UTF-8
Name=Kool Morning
X-KDE-ServiceTypes=Plasma/Applet
Type=Service
Icon=network-workgroup-symbolic
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
Comment=Tells you if your servers are up and running. Use wake-on-lan to power up.
X-KDE-PluginInfo-Author=Shining
X-KDE-PluginInfo-Email=shining@linuxcondom.net
X-KDE-PluginInfo-Name=net.linuxcondom.plasma.koolmorning
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/shining-fnml/kool_morning
X-KDE-PluginInfo-Category=System Monitoring
X-KDE-PluginInfo-Depends=icmp
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
